---
# THIS FILE MUST BE ENCRYPTED BY ANSIBLE VAULT.
# DO NOT CHECK INTO SOURCE CONTROL UNENCRYPTED.

# It's easiest if the user of the playbook is a domain admin.
ansible_user: [Domain\User]
ansible_password: [password]

teleport_service_user_password: [strong password]