<Backups xmlns="http://www.microsoft.com/GroupPolicy/GPOOperations/Manifest" xmlns:mfst="http://www.microsoft.com/GroupPolicy/GPOOperations/Manifest" mfst:version="1.0">
    <BackupInst>
        <GPOGuid>
            <![CDATA[{95F97517-8E84-48BC-BCB7-03E1A882105A}]]>
        </GPOGuid>
        <GPODomain>
            <![CDATA[{{ domain_dns }}]]>
        </GPODomain>
        <GPODomainGuid>
            <![CDATA[{156c40f5-943e-4823-83e6-c7fb4a7d13e4}]]>
        </GPODomainGuid>
        <GPODomainController>
            <![CDATA[WinServ01.{{ domain_dns }}]]>
        </GPODomainController>
        <BackupTime>
            <![CDATA[2022-03-10T17:03:27]]>
        </BackupTime>
        <ID>
            <![CDATA[{724EA8BA-2540-43B2-8FD3-8E26EBECC375}]]>
        </ID>
        <Comment>
            <![CDATA[Allow connections]]>
        </Comment>
        <GPODisplayName>
            <![CDATA[Teleport Access Policy]]>
        </GPODisplayName>
    </BackupInst>
</Backups>