<BackupInst xmlns="http://www.microsoft.com/GroupPolicy/GPOOperations/Manifest"><GPOGuid><![CDATA[{9C413EEC-98F5-411C-9DDE-B20DEB176B6E}]]></GPOGuid><GPODomain><![CDATA[{{ domain_dns }}]]></GPODomain><GPODomainGuid><![CDATA[{156c40f5-943e-4823-83e6-c7fb4a7d13e4}]]></GPODomainGuid><GPODomainController><![CDATA[WinServ01.{{ domain_dns }}]]></GPODomainController><BackupTime><![CDATA[2022-03-10T15:24:42]]></BackupTime><ID><![CDATA[{5830A168-3172-4607-970F-3485C7C92EEA}]]></ID><Comment><![CDATA[Block interactive]]></Comment><GPODisplayName><![CDATA[Block interactive login for Teleport Service]]></GPODisplayName></BackupInst>
